body {
    background-color:#fff;
    }

/* Premier Ranger */
.wrapper {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-gap: 10px;
    grid-auto-rows: minmax(100px, auto);
  }
  .one {
    background-color: rgb(176 53 50);
    grid-column: 1 / 2;
    grid-row: 1;

  }
  .two {
    background-color: rgb(51 168 165);
    grid-column: 2 / 3;
    grid-row: 1 / 2;
  }
  .three {
    background-color: rgb(55 154 122);
    grid-column: 3;
    grid-row: 1 / 2;
  }
  .four {
    background-color: rgb(106 71 143);
    grid-column: 1 / 2;
    grid-row: 2;
  }
  .five {
    background-color: rgb(218 111 43);
    grid-column: 2 / 3;
    grid-row: 2 / 2;
  }
  .six {
    background-color: rgb(61 139 177);
    grid-column: 3;
    grid-row: 2 / 2;
  }

  .seven {
    background-color: rgb(224 63 63);
    grid-column: 1 / 2;
    grid-row: 3;
  }
  .eight {
    background-color: rgb(89 166 39);
    grid-column: 2 / 3;
    grid-row: 3 / 4;
  }
  .nine {
    background-color: rgb(68 100 161);
    grid-column: 3;
    grid-row: 3 / 4;
  }

  h3 {
      color: #fff;
      margin-left: 2em;
      margin-top: 2em;
  }
/* End Block */